<div class="root-component-container color-light flex-container" id="forgot-password-container">
    <div class="flex-container header-container">
      <h1>Recover Password</h1>
    </div>
  
    <mat-card class="mat-elevation-z8">
      <div class="card-container flex-container">
        <form class="flex-container register-form" action="">
          <input class="card-input" placeholder="Email">
        </form>
        <button class="card-button color-dark mat-elevation-z8" routerLink="/login/forgot-password/recover-password" >Send recover link</button>
       </div>
    </mat-card>
  </div>
  