<div class="root-component-container color-light flex-container" id="recover-password-container">
    <div class="flex-container header-container">
      <h1>Recover Password</h1>
    </div>
  
    <mat-card class="mat-elevation-z8">
      <div class="card-container flex-container">
        <div>
            <h2>user@gmail.com </h2>
        </div>
        <form class="flex-container register-form" action="">
          <input class="card-input" placeholder="Password">
          <input class="card-input" placeholder="Repeat password">
        </form>
        <button class="card-button color-dark mat-elevation-z8" routerLink="/login" >Reset password</button>
       </div>
    </mat-card>
  </div>
  