<div class="root-component-container flex-container" id="registra-container">
  <div class="header-container flex-container">
    <h1>Registrati</h1>
  </div>

  <mat-card class="mat-elevation-z8">
    <div class="card-container flex-container">
      <form class="flex-container register-form" action="">
        <input class="card-input" placeholder="Email">
        <input class="card-input" placeholder="Password">
        <input class="card-input" placeholder="Repeat password">
      </form>

      <button class="card-button color-dark mat-elevation-z8">Registrati
      </button>
      <div id="already-registered">Già registrato? Login</div>
    </div>
  </mat-card>


</div>
