<div id="drawer-root-container">
  <div class="drawer-item">
    <div class="drawer-item-text" routerLink="menu">Menu</div>
  </div>
  <div class="drawer-item">
    <div class="drawer-item-text">Preferiti</div>
  </div>
  <div class="drawer-item" routerLink="lista-ordini">
    <div class="drawer-item-text">Lista Ordini</div>
  </div>
  <div class="drawer-item" routerLink="gestione-tavolo">
    <div class="drawer-item-text">Gestione Tavolo</div>
  </div>
  <div class="drawer-item">
    <div class="drawer-item-text">Guida</div>
  </div>
  <div class="drawer-item">
    <div class="drawer-item-text" routerLink="/login">Area Personale</div>
  </div>
</div>
