<div id="drawer-root-container">
  <div class="drawer-item">
    <div class="drawer-item-text" routerLink="menu" (click)="this.drawerService.drawer.toggle()">Menu</div>
  </div>
  <div class="drawer-item">
    <div class="drawer-item-text" routerLink="preferiti" (click)="this.drawerService.drawer.toggle()">Preferiti</div>
  </div>
  <div class="drawer-item">
    <div class="drawer-item-text" routerLink="lista-ordini" (click)="this.drawerService.drawer.toggle()">Lista Ordini
    </div>
  </div>
  <div class="drawer-item">
    <div class="drawer-item-text" routerLink="gestione-tavolo" (click)="this.drawerService.drawer.toggle()">Gestione
      Tavolo
    </div>
  </div>
  <div class="drawer-item">
    <div class="drawer-item-text" routerLink="guida" (click)="this.drawerService.drawer.toggle()">Guida</div>
  </div>
  <div class="drawer-item">
    <div class="drawer-item-text" routerLink="/login" (click)="this.drawerService.drawer.toggle()">Area Personale</div>
  </div>
</div>
