<div class="root-component-container flex-container" id="menu-container">
  <div class="flex-container header-container">
    <h1>Menù</h1>
    <h3>Sashimi</h3>
  </div>

  <mat-card class="mat-elevation-z8">
    <div class="card-container flex-container">
      <div class="header-piatto flex-container">
        <h3 id="numero-piatto">15</h3>
        <h3 id="nome-piatto">Nome Piatto</h3>
        <button id="star-button">
          <mat-icon id="star-border">star_border</mat-icon>
          <mat-icon id="star-full" hidden>star</mat-icon>
        </button>

      </div>

      <div id="immagine"></div>


    </div>
  </mat-card>
</div>
