<div class="root-component-container flex-container color-light" id="lista-ordini-container">

  <div class="button-container">
    <input routerLink="/lista-ordini" class="threeButtons" type="image" src="../../../assets/img/desk.png"/>
    <input routerLink="/tuoi-ordini" class="threeButtons" type="image" src="../../../assets/img/account.png"/>
    <input routerLink="/in-arrivo" class="threeButtons" type="image" src="../../../assets/img/index.png"/>
  </div>

  <div>
    <h1 class="ordiniTavolo">Ordini del tavolo</h1>
  </div>

  <mat-card class="mat-elevation-z8" *ngFor="let item of ordiniTavolo">
    <div class="card-container flex-container" >
      <div class="flex-container">
        <h1 class="nomePiatto">{{item.piatto.nome}}</h1>
        <h1 class="nomePiatto">{{item.piatto.numero+" - x"}}{{item.molteplicita}}</h1>
      </div>
    </div>
  </mat-card>





</div>
