#lista-ordini-container {
    flex-direction: column;
  }

  h1, h3 {
    font-family: "Jockey One", sans-serif;
  }


  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
  }




  @media screen and (orientation: portrait) {

    .button-container{
        margin-top:1em;
        margin-bottom:1em;
        text-align: center;
        align-items: center;
        height: 8vh;
    }
    .threeButtons{
        border-radius: 1em;
        margin-top: 1em;
    }
    input{
      height: 6vh;
    }
    #utente{
      margin-left: 2vh;
      margin-right: 2vh;
    }


    .ordiniTavolo{
        margin-top: 0;
        text-align: center;
        font-size: 4vh;
    }

    .nomePiatto {
      font-size: 4vh;
      margin:0.2em;
    }




    .header-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    mat-card {
      border-radius: 3em;
      margin: 4vw;
      padding: 3vw;
      height: fit-content;
    }

    .mat-grid-tile-content {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 0%;
      padding: 0;
      margin: 0;
    }

  }

  @media screen and (orientation: landscape) {

    .button-container{
      text-align: center;
      align-items: center;
      height: 12vh;
    }

    .threeButtons{
      margin-top: 2vh;
      border-radius: 1em;
    }
    input{
      height: 9vh;
    }
    #utente{
      margin-left: 2vh;
      margin-right: 2vh;
    }
    .ordiniTavolo{
      margin:1vh;
      text-align: center;
      font-size: 7vh;
    }

    .nomePiatto {
      font-size: 4vh;
      margin:0.2em;
    }



    h3 {
      font-size: 4vh;
    }

    .header-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }


    mat-card {
      border-radius: 1em;
      margin-left: 20vw;
      margin-right: 20vw;
      margin-top: 2vw;
      padding: 1vw;
      height: fit-content;
    }


  }
