<div class="root-component-container color-light flex-container" id="area-personale-container">

  <div class="flex-container header-container">
    <h1>Area Personale</h1>
  </div>

  <mat-card class="mat-elevation-z8">
    <div class="card-container flex-container">
      <button class="card-button color-dark mat-elevation-z8" routerLink="/blacklist"> Blacklist Ingredienti</button>
      <button class="card-button color-light-button mat-elevation-z8" (click)="this.logout()"> Log out</button>
    </div>
  </mat-card>



</div>

