html, body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.root-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

@media screen and (orientation: portrait) {
  .navigation-row {
    width: 100vw;
    height: 10vh;
  }
}

@media screen and (orientation: landscape) {
  .navigation-row {
    width: 100vw;
    height: 15vh;
  }
}

app-navigation {
  width: inherit;
  height: inherit;
}

.router-row {
  font-size: 32px;
  height: 90vh;
  margin: 0;
}

