<div class="root-component-container color-light flex-container" id="unisciti-container">
  <div class="flex-container header-container">
    <h1>Unisciti a una sessione</h1>
  </div>

  <mat-card class="mat-elevation-z8">
    <div class="card-container flex-container">
      <form action="">
        <input class="card-input" placeholder="Codice sessione">
      </form>
      <button class="card-button color-dark mat-elevation-z8" >Unisciti</button>
      <button class="card-button color-dark mat-elevation-z8"
              id="qr-button">Scansiona QR
      </button>
    </div>
  </mat-card>
</div>
