#crea-sessione-container {
  flex-direction: column;
}

h1, h3 {
  font-family: "Jockey One", sans-serif;
}


.card-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}


@media screen and (orientation: portrait) {
  h1 {
    margin: 1em;
    font-size: 4vh;
  }

  h3 {
    font-size: 3vh;
  }

  #qr-code {
    border: solid black 2px;
    height: 30vh;
    width: 30vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  qrcode {
    height: 30vh;
    width: 30vh;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  .card-button {
    text-align: center;
    height: 6vh;
    width: 70vw;
    border-radius: 9999em 9999em 9999em 9999em;
    border: 0;
    margin: 0.5em;
    font-size: 3vh;
  }

  mat-card {
    border-radius: 3em;
    margin: 4vw;
    padding: 3vw;
    height: fit-content;
  }

  #qr-button {
    margin-top: 5vh;
  }
}

@media screen and (orientation: landscape) {
  h1 {
    margin: 1em;
    font-size: 6vh;
  }

  h3 {
    font-size: 4vh;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-button {
    text-align: center;
    height: 10vh;
    width: 35vw;
    border-radius: 9999em 9999em 9999em 9999em;
    border: 0;
    margin: 0.5em;
    font-size: 5vh;
  }

  mat-card {
    border-radius: 1em;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 2vw;
    padding: 1vw;
    height: fit-content;
  }

  #qr-code {
    border: solid black 2px;
    height: 30vh;
    width: 30vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}
