/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

* {
  font-family: 'Jockey One', sans-serif;
}

.color-dark {
  background-color: #ffbf5f;
}

.color-medium {
  background-color: #ffe5be;
}

.color-light {
  background-color: #fff8e5;
}

.flex-container {
  display: flex;
}

@media screen and (orientation: portrait) {
  .root-component-container {
    height: 90vh;
    width: 100vw;
  }
}

@media screen and (orientation: landscape) {
  .root-component-container {
    height: 85vh;
    width: 100vw;
  }
}
