/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  font-family: 'Jockey One', sans-serif;
}

.flex-container {
  display: flex;
}

@media screen and (orientation: portrait) {
  .root-component-container {
    height: 90vh;
    width: 100vw;
    background-color: #fff8e5;
  }
}

@media screen and (orientation: landscape) {
  .root-component-container {
    height: 85vh;
    width: 100vw;
    background-color: #fff8e5;
  }
}
