#menu-container {
  flex-direction: column;
}

h1, h3 {
  font-family: "Jockey One", sans-serif;
}

.card-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}


@media screen and (orientation: portrait) {
  h1 {
    margin: 1em;
    font-size: 4vh;
  }

  h3 {
    font-size: 3vh;
  }

  #numero-piatto {
    padding-right: 1em;
    font-size: 4vh;
  }

  #nome-piatto {
    padding-right: 1em;
    font-size: 4vh;
  }

  #star-border {
    scale: 2;
  }

  #star-full {
    scale: 2;
  }

  #star-button {
    height: 4em;
    width: 5em;
    border-radius: 1.2em;
    border: 0;
  }

  #immagine {
    border: solid black 2px;
    height: 30vh;
    width: 30vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
  }

  .footer-immagine {
    flex-direction: row;
  }

  #allergeni {
    border: solid black 2px;
    width: 10em;
    height: 2em;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
  }

  #prezzo {
    justify-self: flex-end;
    font-size: 2vh;
    padding-left: 5em;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-button {
    text-align: center;
    height: 6vh;
    width: 70vw;
    border-radius: 9999em 9999em 9999em 9999em;
    border: 0;
    margin: 0.5em;
    font-size: 3vh;
  }

  mat-card {
    border-radius: 3em;
    margin: 4vw 10vw 4vw 10vw;
    padding: 2vh;
    height: fit-content;
  }

  .expansion-panel {
    background-color: #e0dfdc;
    margin-top: 1vh;
    height: 10vh;
    width: 80vw;
  }

  #card-footer {
    margin-top: 2vh;
    padding-left: 7vw;
    padding-right: 7vw;
    border: 0;
    width: 70vw;
    flex-direction: row;
    justify-content: space-between;
  }

  #panel-toggle {
    border-radius: 2vw;
    border: 0;
    height: 4vh;
    width: 7vw;
  }

  #toggle-icon {
    scale: 2;
  }

  #plus-button, #minus-button {
    border-radius: 2vw;
    font-size: 5vw;
    border: 0;
    height: 4vh;
    width: 7vw;
  }

  #plus-button {
    margin-right: 1vw;
  }

  .quantity {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1vw;
  }

  .max-quantity, .order-quantity {
    font-size: 3vw;
  }

  .order-quantity {
    padding-top: 1vw;
  }
}

@media screen and (orientation: landscape) {
  h1 {
    margin: 0.5em;
    font-size: 6vh;
  }

  h3 {
    font-size: 4vh;
  }

  #numero-piatto {
    font-size: 3vw;
    padding-right: 1em;
  }

  #nome-piatto {
    font-size: 3vw;
    padding-right: 1em;
  }

  #star-button {
    height: 1.5em;
    width: 2em;
    border-radius: 0.5em;
  }

  #star-border {
    scale: 2;
  }

  #star-full {
    scale: 2;
  }

  #immagine {
    border: solid black 2px;
    height: 30vh;
    width: 30vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
  }

  .footer-immagine {
    flex-direction: row;
  }

  #allergeni {
    border: solid black 2px;
    width: 10em;
    height: 2em;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
  }

  #prezzo {
    justify-self: flex-end;
    font-size: 2vh;
    padding-left: 5em;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .expansion-panel {
    background-color: #e0dfdc;
    height: 10vh;
    width: 40vw;
  }

  mat-card {
    border-radius: 1em;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 2vw;
    padding: 1vw;
    height: fit-content;
  }

  .expansion-panel {
    background-color: #e0dfdc;
    margin-top: 1vh;
    height: 10vh;
    width: 40vw;
  }

  #card-footer {
    margin-top: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
    border: 0;
    width: 40vw;
    flex-direction: row;
    justify-content: space-between;
  }

  #panel-toggle {
    border-radius: 2vh;
    border: 0;
    height: 4vw;
    width: 7vh;
  }

  #toggle-icon {
    scale: 2;
  }

  #plus-button, #minus-button {
    border-radius: 2vh;
    font-size: 5vh;
    border: 0;
    height: 4vw;
    width: 7vh;
  }

  #plus-button {
    margin-right: 1vh;
  }

  .quantity {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1vh;
  }

  .max-quantity, .order-quantity {
    font-size: 2vw;
  }

  .order-quantity {
    padding-top: 1vh;
  }
}

