#gestione-tavolo-container {
  flex-direction: column;
}

h1, h3 {
  font-family: "Jockey One", sans-serif;
}


.card-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}


.box-shadow {
  box-shadow: 0.1em 0.2em 0.7em -0.3em;
}

@media screen and (orientation: portrait) {
  h1 {
    margin: 1em;
    font-size: 4vh;
  }

  h3 {
    font-size: 3vh;
  }


  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-button {
    background-color: #ffbf5f;
    text-align: center;
    height: 6vh;
    width: 70vw;
    border-radius: 9999em 9999em 9999em 9999em;
    border: 0;
    margin: 0.5em;
    font-size: 3vh;
  }

  mat-card {
    border-radius: 3em;
    margin: 4vw;
    padding: 0;
    height: 50vw;
  }
}

@media screen and (orientation: landscape) {
  h1 {
    margin: 1em;
    font-size: 6vh;
  }

  h3 {
    font-size: 4vh;
  }


  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-button {
    background-color: #ffbf5f;
    text-align: center;
    height: 10vh;
    width: 35vw;
    border-radius: 9999em 9999em 9999em 9999em;
    border: 0;
    margin: 0.5em;
    font-size: 5vh;
  }

  mat-card {
    border-radius: 1em;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 2vw;
    padding: 0;
    height: 25vw;
  }
}
