<div class="dialog-container flex-container">
  <h1 mat-dialog-title>Recensione</h1>
  <div mat-dialog-content class="mat-dialog-content flex-container">
    <p>Inserisci il tuo voto:</p>
    <div class="star-container flex-container">
      <mat-icon id="1" (click)="starClick('1')">star</mat-icon>
      <mat-icon id="2" (click)="starClick('2')">star</mat-icon>
      <mat-icon id="3" (click)="starClick('3')">star</mat-icon>
      <mat-icon id="4" (click)="starClick('4')">star</mat-icon>
      <mat-icon id="5" (click)="starClick('5')">star</mat-icon>
    </div>
  </div>
  <div mat-dialog-actions class="button-container flex-container">
    <button mat-button class="button-left color-light-button" (click)="onNoClick()">Annulla</button>
    <button mat-button class="button-right color-dark" (click)="onClickClose()" cdkFocusInitial>Invia
    </button>
  </div>
</div>
